*{
	margin: 0px;
	padding: 0px;	
}
header{
	width: 100%;
	height: 100px;
	background-color: #007A77;
	text-align: center;
}
header h1{
	color: white;
	padding-top: 20px;
	font-size: 3rem;
}
header h1:hover{
	color: lightgreen;
}
h2{
	margin-top: 20px;
	margin-left: 10px;
	background-color: lightgreen;
	display: inline-block;
}
main ul{
	margin-left: 40px;
	margin-top: 5px;
	list-style-type: circle;
}
ul li:hover{
	background-color: #007A77;
	color: white;
	display: inline-block;	
}